// Variables -----------------------------------------------------------------------------------------------------------

$flex-margin: 10px 10px 0 10px;

$max-desktop-sm: "only screen and (max-width: 1280px)";
$max-desktop-md: "only screen and (max-width: 1600px)";
$max-desktop-lg: "only screen and (max-width: 1920px)";
$max-desktop-xl: "only screen and (max-width: 2560px)";

$max-tablet-sm: "only screen and (max-width: 768px)";
$max-tablet-md: "only screen and (max-width: 900px)";
$max-tablet-lg: "only screen and (max-width: 1024px)";

$max-mobile-sm: "only screen and (max-width: 380px)";
$max-mobile-md: "only screen and (max-width: 480px)";
$max-mobile-lg: "only screen and (max-width: 600px)";