// Variables -----------------------------------------------------------------------------------------------------------

$flex-margin: 10px 10px 0 10px;

$max-desktop-sm: "only screen and (max-width: 1280px)";
$max-desktop-md: "only screen and (max-width: 1600px)";
$max-desktop-lg: "only screen and (max-width: 1920px)";
$max-desktop-xl: "only screen and (max-width: 2560px)";

$max-tablet-sm: "only screen and (max-width: 768px)";
$max-tablet-md: "only screen and (max-width: 800px)";
$max-tablet-lg: "only screen and (max-width: 1024px)";

$max-mobile-sm: "only screen and (max-width: 380px)";
$max-mobile-md: "only screen and (max-width: 480px)";
$max-mobile-lg: "only screen and (max-width: 600px)";

$max-mobile-sm-landscape: "only screen and (max-width: 380px) and (orientation: landscape)";
$max-mobile-md-landscape: "only screen and (max-width: 480px) and (orientation: landscape)";
$max-mobile-lg-landscape: "only screen and (max-width: 600px) and (orientation: landscape)";

$max-tablet-sm-landscape: "only screen and (max-width: 768px) and (orientation: landscape)";
$max-tablet-md-landscape: "only screen and (max-width: 800px) and (orientation: landscape)";
$max-tablet-lg-landscape: "only screen and (max-width: 1024px) and (orientation: landscape)";

// Layout with Flex ----------------------------------------------------------------------------------------------------

.flex { display: flex !important; }

// Stretch Parts
.flex-1 { flex: 1 !important; }
.flex-2 { flex: 2 !important; }
.flex-3 { flex: 3 !important; }
.flex-4 { flex: 4 !important; }
.flex-5 { flex: 5 !important; }
.flex-6 { flex: 6 !important; }
.flex-7 { flex: 7 !important; }
.flex-8 { flex: 8 !important; }
.flex-9 { flex: 9 !important; }

// Equivalent Parts
.flex-01-10 { margin: $flex-margin; flex: 0 1 calc(100.0% - 20px); }
.flex-02-10 { margin: $flex-margin; flex: 0 1 calc(50.00% - 20px); }
.flex-03-10 { margin: $flex-margin; flex: 0 1 calc(33.33% - 20px); }
.flex-04-10 { margin: $flex-margin; flex: 0 1 calc(25.00% - 20px); }
.flex-05-10 { margin: $flex-margin; flex: 0 1 calc(20.00% - 20px); }
.flex-06-10 { margin: $flex-margin; flex: 0 1 calc(16.66% - 20px); }
.flex-07-10 { margin: $flex-margin; flex: 0 1 calc(14.28% - 20px); }
.flex-08-10 { margin: $flex-margin; flex: 0 1 calc(12.50% - 20px); }
.flex-09-10 { margin: $flex-margin; flex: 0 1 calc(11.11% - 20px); }
.flex-10-10 { margin: $flex-margin; flex: 0 1 calc(10.00% - 20px); }

// Small Parts
.flex-xs, .flex-sm, .flex-sd { margin: $flex-margin; flex: 1 1 auto; }

// Medium Parts
.flex-ms, .flex-md, .flex-lm { margin: $flex-margin; flex: 1 1 auto; }

// Large Parts
.flex-lg, .flex-lx, .flex-xl { margin: $flex-margin; flex: 1 1 auto; }

// Full Part
.flex-fl { margin: $flex-margin; flex: 1 1 auto; }

@media #{$max-mobile-sm} {
  .flex-03-10 { flex: 0 1 calc(100.0% - 20px); }
  // Building
}

@media #{$max-mobile-sm-landscape} {
  // Building
}

@media #{$max-mobile-md} {
  // Building
}

@media #{$max-mobile-md-landscape} {
  // Building
}

@media #{$max-mobile-lg} {
  // Building
}

@media #{$max-mobile-lg-landscape} {
  // Building
}